<!-- Шапка -->
<div class="header">
    <div *ngFor="let user of users" 
        class="menu-item"    
        (click)="loadUser(user.id)">
        <span>{{user.name}}</span>
        <div class="border"
            [ngClass]="{'selected' : isUserActive(user.name)}">
        </div>
    </div>
</div>

<div class="content-wrapper">
    <div class="title">
        <img src="/assets/csgo.png">
    </div>

    <div class="content">
        <div class="content-list">
            <div *ngFor="let item of items; let  i = $index" 
                class="item"
                [ngClass]="{'inspectable' : item?.inspect_url}" 
                [ngStyle]="{'border-image' : item?.gradient_style}"
                (click)="inspectItem(item?.inspect_url)">

                <img class="item-image" 
                    [ngStyle]="{'filter' : item?.image_style}"
                    [src]="item.icon_url">
                
                    <span class="item-title"
                    [ngStyle]="{'color' : item?.name_color}">
                    {{item?.name}}
                </span>
            </div>
        </div>
    </div>
</div>